<div class="grid--full"> 
  <div class="grid__item large--one-half small--one-half border left affiliate-image"><img src="{{ article.image | img_url: 'master' }}"></div>
  <div class="grid__item large--one-half small--one-half border-right right affiliate-content">
    <h2>{{ article.metafields.c_f.affiliate-name }}</h4>
    <h4>{{ article.metafields.c_f.affiliate-type }}</h4>
    <h4>Hometown // {{ article.metafields.c_f.affiliate-hometown }}</h4>
    {%comment%}{% include 'affiliate--social-media' %}{%endcomment%}
    <span class="medium-down--hide">
      <h4>Bio</h4>
      <div style="padding-right:20px;">{{ article.content }}</div>
    </span>
  </div>
</div>