<div class="grid--full {{ collection.handle }}">
  <div class="grid__item large--one-half medium--full border-left-square left square">
    <div class="homepage--left-half" style="background: url({{ collection.metafields.c_f.banner-half-left-desktop }}) no-repeat center center; background-size: cover;">      
      <div class="overlay"> 
        <a href="{{ collection.metafields.c_f.banner-half-left-link }}">
          <div class="square-text">
          	<h4 class="btn--secondary">{{ collection.metafields.c_f.banner-half-left-text }}</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
  <div class="grid__item large--one-half medium--full right border-right-square square">
    <div class="homepage--right-half" style="background: url({{ collection.metafields.c_f.banner-half-right-desktop }}) no-repeat center center; background-size: cover;">
      <div class="overlay"> 
        <a href="{{ collection.metafields.c_f.banner-half-right-link }}">
          <div class="square-text">
          	<h4 class="btn--secondary">{{ collection.metafields.c_f.banner-half-right-text }}</h4>
          	{% comment %}<button class="btn--secondary">Shop Now</button>{% endcomment %}
       	  </div>
        </a>
      </div>
    </div>
  </div>
</div> 