<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/tees-and-tanks" class="collection--filter-bar-link">All</a> 
</li>
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/tees-and-tanks/tee" class="collection--filter-bar-link">Tees</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-tees.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
</li>
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/tees-and-tanks/tank" class="collection--filter-bar-link">Tanks</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-tanks.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
</li>

<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Tees</option>     
    {% for link in linklists.filter-mens-tees.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Tanks</option>     
    {% for link in linklists.filter-mens-tanks.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>
