<li class="collection--filter-list" aria-haspopup="true">
  <a href="/collections/shirts" class="collection--filter-bar-link">All</a>  
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/shirts/wovens" class="collection--filter-bar-link">Wovens</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-shirts-wovens.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
</li>
  {% for link in linklists.filter-mens-shirts-flannels.links %}
<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="{{ link.url }}" class="collection--filter-bar-link">{{ link.title }}</a>
  {% endfor %}
</li>

{% comment %}
<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Wovens</option>     
    {% for link in linklists.filter-mens-shirts-wovens.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

  {% for link in linklists.filter-mens-shirts-flannels.links %}
<li class="collection--filter-list large--hide" aria-haspopup="true">
  <a href="{{ link.url }}" class="collection--filter-bar-link">{{ link.title }}</a>
  {% endfor %}
</li>
{% endcomment %}

<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Style</option>     
    {% for link in linklists.filter-mens-shirts.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>