<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/fall-17/shirts" class="collection--filter-bar-link">Shirts</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-fall-shirts.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
<li class="collection--filter-list-mobile shirts medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Shirts</option>     
    {% for link in linklists.filter-mens-fall-shirts.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/fall-17/shirts" class="collection--filter-bar-link">Jackets</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-fall-jackets.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
<li class="collection--filter-list-mobile medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Jackets</option>     
    {% for link in linklists.filter-mens-fall-jackets.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/fall-17/shirt" class="collection--filter-bar-link">Tees</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-fall-tees.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
<li class="collection--filter-list-mobile tees medium-down--show large--hide">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">Tees</option>     
    {% for link in linklists.filter-mens-fall-tees.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

<li class="collection--filter-list medium-down--hide" aria-haspopup="true">
  <a href="/collections/fall-17/shirts" class="collection--filter-bar-link">Other</a>
  <ul class="collection--filter-dropdown no-bullets">
    {% for link in linklists.filter-mens-fall-other.links %}
    <li class="collection--filter-dropdown-list">
      {{ link.title | link_to: link.url }}
    </li>
 	  {% endfor %}
  </ul>
<li class="collection--filter-list-mobile medium-down--show large--hide other">
  <select class="filter" name="links" onchange="window.location.href=this.value;">
	<option value="" selected="selected">other</option>     
    {% for link in linklists.filter-mens-fall-other.links %}
    <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
    {% endfor %}
  </select>
</li>

