<li class="mobile-nav__item" aria-haspopup="true">
  <div class="mobile-nav__has-sublist">
    <a class="mobile-nav__link">Discover</a>
    <div class="mobile-nav__toggle">
      <button type="button" class="icon-fallback-text mobile-nav__toggle-open">
        <span class="icon icon-plus" aria-hidden="true"></span>
        <span class="fallback-text">See More</span>
      </button>
      <button type="button" class="icon-fallback-text mobile-nav__toggle-close">
        <span class="icon icon-minus" aria-hidden="true"></span>
        <span class="fallback-text">{{ 'cart.general.close_cart' | t | json }}</span>
      </button>
    </div>
  </div>
  <ul class="mobile-nav__sublist">
     <li class="mobile-nav__item">
       <a href="/blogs/motion" class="mobile-nav__link">Motion</a>
       <ul class="">
       {% for link in linklists.motion.links %}
         <li class="mobile-nav__item">
           <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title | escape }}</a>
         </li>
       {% endfor%}
       </ul>	
     </li>
     <li class="mobile-nav__item">
       <a href="/blogs/lookbooks" class="mobile-nav__link">Lookbooks</a>
     </li>
    <li class="mobile-nav__item">
       <a href="/pages/shoppable-instagram" class="mobile-nav__link">Shop Our Instagram</a>
     </li>
     <li class="mobile-nav__item">
       <a href="/blogs/product-highlights" class="mobile-nav__link">Product Highlights</a>
     </li>
     <li class="mobile-nav__item">
       <a href="/blogs/disposable-mondays" class="mobile-nav__link">Disposable Mondays</a>
     </li>  
     <li class="mobile-nav__item">
       <a class="mobile-nav__link">Happenings</a>
       <ul class="">
       {% for link in linklists.happenings.links %}
         <li class="mobile-nav__item">
           <a href="{{ link.url }}" class="mobile-nav__link">{{ link.title | escape }}</a>
         </li>
       {% endfor%}
       </ul>	
     </li>
  </ul>
</li>