      {% if settings.home_vendor_carousel_enable %}
<center><h2>{{ settings.home_vendor_carousel_title }}</h2></center>
<div class="slider-container">
 <div class="slider autoplay slider-custom">
 {% for i in (1..12) %}
 {% capture vendor %}home_vendor_enable_{{i}}{% endcapture %}
 {% capture vendor_name %}home_vendor_name_{{i}}{% endcapture %}
 {% capture vendor_logo %}vendor_logo_{{i}}.png{% endcapture %}
 {% if settings[vendor] %}
 <div>
 <a href="{{ settings[vendor_name] }}" title="{{ settings[vendor_name] }}">
 {{ vendor_logo | asset_url | img_tag: settings[vendor_name], "replace-2x img-responsive" }}
 </a>
 </div>
 {% endif %}
 {% endfor %}
 </div>
</div> 
 <hr>
{% endif %}