<div class="grid">
  <div class="grid__item collection--filter no-padding">
    <ul class="collection--filter-bar" id="AccessibleNav">
      
      {% comment %} All Products {% endcomment %}  
      <li class="collection--filter-list" aria-haspopup="true">
        <a href="/collections/hats" class="collection--filter-bar-link">All</a>
      </li>

      {% comment %} Desktop Filter // Make Into List with another dropdown list {% endcomment %}
      {% for link in linklists.{ collection.title | prepend: 'filter.' }.links %}
      <li class="collection--filter-list medium-down--hide" aria-haspopup="true">
        <a href="{{ link.url }}" class="collection--filter-bar-link">{{ link.title }}</a>
      {% endfor %}
      </li>

      {% comment %} Mobile Filter // Make Into List with another multiple dropdown selectors {% endcomment %}
      <li class="collection--filter-list-mobile medium-down--show large--hide">
        <select class="filter" name="links" onchange="window.location.href=this.value;">
          <option value="" selected="selected">Style</option>     
          {% for link in linklists.{ collection.title | prepend: 'filter.' }.links %}
          <option value="{% if template == 'collection' %}{{ link.url }}{% else %}{{ link.url | append: "?view=list" }}{% endif %}">{{ link.title }}</option> 
          {% endfor %}
        </select>
      </li>
      
      {% include 'collection--sorting' %}
    </ul>
  </div>
</div>



