<!-- /templates/page.liquid -->
<div class="grid--full  collection--banner-full {{ article.handle }}">
  <div class="collection--border collection--banner-full-image" style="background: url({{ article.metafields.c_f.banner-full-desktop }}) no-repeat center center; background-size: cover;">
      <div style="display:none;" class="collection--banner-full-text text-center">
        <h1 class="btn--secondary">Fall 17 Morocco Lookbook</h1>
      </div>
  </div> 
</div>
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half text-center border">A trip into Morocco. Featuring our Fall 17 Collection and Affiliate Alex Smith.</div>
</div>

<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half border">
	<iframe src="https://player.vimeo.com/video/231734952" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-1 }}">
    </div>
</div>
<div class="grid--full">
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_henderson">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_henderson">
      <img src="{{ article.metafields.c_f.blog-image-2 }}">
    </a>
  </div>
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_henderson">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_henderson">
      <img src="{{ article.metafields.c_f.blog-image-3 }}">
    </a>
  </div>
</div> 
<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-15 }}">
    </div>
</div>

<div style='display:none'>
  <div id='inline_content_henderson' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item text-center product-single">
        <h2 itemprop="name">Henderson Flannel</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="https://cdn.shopify.com/s/files/1/1968/8409/products/HENDERSON-FLANNEL-NAVY_GOLD-FRONT_large.jpg?v=1502814340" alt="Henderson Flannel">
        </div>
        <a href="/collections/fall-17/products/henderson-flannel">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-4 }}">
    </div>
</div>
<div class="grid--full">
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_seeker">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_seeker">
      <img src="{{ article.metafields.c_f.blog-image-5 }}">
    </a>
  </div>
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_seeker">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_seeker">
      <img src="{{ article.metafields.c_f.blog-image-6 }}">
    </a>
  </div>
</div> 
<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-16 }}">
    </div>
</div>

<div style='display:none'>
  <div id='inline_content_seeker' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item text-center product-single">
        <h2 itemprop="name">Seeker T-Shirt</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="https://cdn.shopify.com/s/files/1/1968/8409/products/SEEKER_MUSTARD_BACK_large.jpg?v=1504111013" alt="Seeker T-Shirt">
        </div>
        <a href="/collections/fall-17/products/seeker-t-shirt">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>

<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
      <a class="inline" href="#inline_content_maddox">
        <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
      </a>
      <a class="inline" href="#inline_content_maddox">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-7 }}">
      </a>
    </div>
</div>
<div class="grid--full">
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_maddox">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_maddox">
      <img src="{{ article.metafields.c_f.blog-image-8 }}">
    </a>
  </div>
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_maddox_restore">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_maddox_restore">
      <img src="{{ article.metafields.c_f.blog-image-9 }}">
    </a>
  </div>
</div> 
<div class="grid--full">
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_maddox_restore">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_maddox_restore">
      <img src="{{ article.metafields.c_f.blog-image-10 }}">
    </a>
  </div>
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_restore">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_restore">
      <img src="{{ article.metafields.c_f.blog-image-11 }}">
    </a>
  </div>
</div> 

<div style='display:none'>
  <div id='inline_content_maddox' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item text-center product-single">
        <h2 itemprop="name">Maddox Jacket</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="https://cdn.shopify.com/s/files/1/1968/8409/products/maddox-jacket-black-front_large.jpg?v=1503511638" alt="Maddox Jacket">
        </div>
        <a href="/collections/fall-17/products/maddox-jacket">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>

<div style='display:none'>
  <div id='inline_content_maddox_restore' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item large--one-half text-center product-single">
        <h2 itemprop="name">Maddox Jacket</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="https://cdn.shopify.com/s/files/1/1968/8409/products/maddox-jacket-black-front_large.jpg?v=1503511638" alt="Maddox Jacket">
        </div>
        <a href="/collections/fall-17/products/maddox-jacket">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
      <div class="grid__item large--one-half text-center product-single">
        <h2 itemprop="name">Restore Hoodie</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="//cdn.shopify.com/s/files/1/1968/8409/products/RESTORE-HOODIE-BLACK_WHITE-FRONT_large.jpg?v=1503036225" alt="Restore Hoodie">
        </div>
        <a href="/collections/fall-17/products/restore-hoodie?variant=44629304782">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>

<div style='display:none'>
  <div id='inline_content_restore' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item text-center product-single">
        <h2 itemprop="name">Restore Hoodie</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="//cdn.shopify.com/s/files/1/1968/8409/products/RESTORE-HOODIE-BLACK_WHITE-FRONT_large.jpg?v=1503036225" alt="Restore Hoodie">
        </div>
        <a href="/collections/fall-17/products/restore-hoodie?variant=44629304782">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>


<div class="grid--full">
    <div class="grid__item push--large--one-quarter large--one-half border">
        <img style="width: 100%;" src="{{ article.metafields.c_f.blog-image-12 }}">
    </div>
</div>
<div class="grid--full">
  <div class="grid__item large--one-quarter push--large--one-quarter border">
    <a class="inline" href="#inline_content_ludlow">
      <img class="hotspot" src="{{ 'hotspot.png' | asset_url }}">
    </a>
    <a class="inline" href="#inline_content_ludlow">
      <img src="{{ article.metafields.c_f.blog-image-13 }}">
    </a>
  </div>
  <div class="grid__item large--one-quarter push--large--one-quarter border">
      <img src="{{ article.metafields.c_f.blog-image-14 }}">
  </div>
</div> 
<div class="grid--full collection--banner-full lookbook">
  <div class="grid__item push--large--one-quarter large--one-half border collection--banner-full-image" style="background: url({{ article.metafields.c_f.blog-image-18 }}) no-repeat center center; background-size: cover;">
        <a href="/collections/fall-17">  
  
    <div  class="lookbook--banner-full-text text-center">
          <h1 class="btn--secondary">Shop Fall 17</h1>
        </div>
            </a>

      </div> 
</div>

<div style='display:none'>
  <div id='inline_content_ludlow' style='padding:10px; background:#fff;'>
    <div class="grid--full product--primary">
      <div class="grid__item text-center product-single">
        <h2 itemprop="name">Ludlow Crewneck</h2>
        <div class="product-single__photos" id="ProductPhoto">
          <img id="lookbook-product" src="https://cdn.shopify.com/s/files/1/1968/8409/products/LUDLOW-CREWNECK-BLACK_WHITE-FLAT_large.jpg?v=1502814824" alt="Restore Hoodie">
        </div>
        <a href="/collections/fall-17/products/ludlow-crewneck">
          <button class="btn lookbook-button">Shop Now</button>	
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $(".inline").colorbox({inline:true, width:"63%", height: "75%", transition: "none" });
</script>