<!-- /templates/article.liquid -->
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half">
    <h1 class="text-center">{{ article.title }}</h1>
    <p class="border">{{ article.published_at | date: "%s" | plus: seconds | date: "%B %d 20%y" }}</p>
  </div>
</div>
{% if article.content %}
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half border">
    {{ article.content }}
  </div>
</div>
{% endif %}

{% assign video = article.metafields.c_f.blog-video %}
{% if video %}
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half no-padding border" itemprop="articleBody">
    <iframe width="100%" height="50%" src="https://{{ video| strip_html }}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endif %}

{% assign first = article.metafields.c_f.blog-image-1 %}
{% assign text = article.metafields.c_f.blog-image-1-text %}

{% if first %}
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half border">
      <img src="{{ first }}">
  </div>
</div>
{% else %}
{% if article.image %}
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half border">
      {{ article | img_url: '1024x1024' | img_tag: article.title }}
  </div>
</div>
{% endif %}
{% if text %}
<div class="grid--full">
  <div class="grid__item push--one-quarter large--one-half border">
    <p>{{ text }}</p>
  </div>
</div>
{% endif %}
{% endif %}


{% for i in (2..30) %}
  {% assign lbKey = 'blog-image-' | append:i %}
  {% assign lbKeys = 'blog-image-' | append:i %}
  {% assign lbKeyText = lbKeys | append:'-text' %}
  {% assign lbMetafield = article.metafields.c_f[lbKey] %}
  {% assign lbMetafieldText = article.metafields.c_f[lbKeyText] %}
  {% if lbMetafield == blank %}{% continue %}{% endif %}
<div class="grid--full">
  <div class="grid__item push--large--one-quarter large--one-half border">
    <a class="inline" href="#inline_content">
      <img src="{{ lbMetafield }}">
    </a>
  </div>
</div>

{% if lbMetafieldText == blank %}
{% else %}
<div class="grid--full">
  <div class="grid__item push--one-quarter large--one-half border">
    <p>{{ lbMetafieldText }}</p>
  </div>
</div>
{% endif %}
{% endfor %}
