<!-- /templates/blog.liquid -->
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by 21 %}

<div class="grid--rev">  
  <div class="grid__item no-padding"> 
    <ul class="blog--motion grid--full no-bullets">
    {% for article in blog.articles %}
    {% if forloop.last != true %}
      <li class="grid__item large--one-quarter border--motion">
        <div style='display:none'>
  		  <div id='inline_content{{- forloop.index -}}' class="text-center" style='padding:10px; background:#fff;'>
            <iframe width="95%" height="65%" src="https://{{ article.metafields.c_f.blog-video | strip_html }}" frameborder="0" allowfullscreen></iframe>
            <h3>{{ article.title }}</h3>
          </div>
		</div>
        <a class="large--hide inline" href="#inline_content{{- forloop.index -}}">
        <a class="" href="{{ article.url }}">  
          <div class="blog--motion-image" {% if article.image == blank %}style="background-color: black;" {% else %} style="background: url({{ article.image | img_url: '1024x1024' }}) no-repeat center center; background-size: cover;" {% endif %} >
            <div class="motion-overlay"></div>
              <div class="blog--motion-info">
                <h3>{{ article.title }}</h3>
                {% assign seconds = 14 | times: 24 | times: 60 | times: 60 %}
                <h6>{{ article.published_at | date: "%s" | plus: seconds | date: "%B %d 20%y" }}</h6>
            </div>
          </div>
        </a>  
        </a>
      </li>
    {% endif %}
    {% unless forloop.last %}{% endunless %}
    {% endfor %}
    </ul>    
    {% if paginate.pages > 1 %}
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>
    {% endif %}
  </div>
</div>



<script>
  $(".inline").colorbox({inline:true, width:"95%"});
</script>


{% endpaginate %}